services:
  nginx:
    build:
      context: ./nginx
    ports:
      - 80:80
    #depends_on:
    #  room-booker-react:
    #    condition: service_healthy
    #    restart: true

  backend:
    build:
      context: ./backend
    ports:
      - 8080:8080
    healthcheck:
      test: "curl localhost:8080/actuator/health | grep 'UP' | grep 'status'"
      interval: 20s
      timeout: 5s
      retries: 3
      start_period: 15s

  frontend:
    build:
      context: ./frontend
    ports:
      - 3000:3000
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://frontend:3000/health"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s
